body {
  background: url('../../assets/images/bg-simplify-section-desktop.svg')
    var(--main-bg-color) no-repeat;
  font-family: var(--main-font), sans-serif;
  font-size: var(--normal-font-size);
  color: var(--main-color);
}
