.btn {
  padding: 10px 20px;
  border-radius: 50px;
  font-family: var(--main-font), sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: color 0.2s, background 0.2s, box-shadow 0.5s, opacity 0.2s;

  &:hover {
    box-shadow: 3px 3px 2px currentColor;
    background: transparent;
    opacity: 0.7;
  }

  &--primary {
    background-color: var(--bright-red);
    color: var(--very-light-gray);
    border: solid 1px var(--bright-red);

    &:hover {
      color: var(--bright-red);
    }
  }

  &--secondary {
    background-color: var(--very-light-gray);
    color: var(--bright-red);
    border: solid 1px var(--very-light-gray);

    &:hover {
      color: var(--very-light-gray);
    }
  }
}
